    <div class="container" style="padding: 0 !important;margin-bottom: 0 !important">
      <iframe width="100%" height="500" src="//www.youtube-nocookie.com/embed/oDAw7vW7H0c?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container block">
      <div class="row" style="margin: 30px 0">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p><b>How it started:</b> When Dave’s camera broke, and there was no means to fix it, he started to think about how one could design consumer electronics so that they would be easy to repair, easy to upgrade and long lasting. Trying to end planned obsolescence and reduce electronic waste streams. Modularity was, and still is, the answer. Beginning with the one of the fastest growing parts of these electronic waste streams, mobile phones, Phonebloks was born. Never intending to build a mobile phone ourselves, Phonebloks, as an idea, is a means to get the industry’s attention and to get it moving towards the best mobile phone for world and population.</p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <div class="container block text-center">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>Our mission</h2>
          <p>Phonebloks is a vision, an idea, a movement for a mobile phone worth keeping. We are an independent organisation trying to help the existing industry steer their development and production towards products that produce less electronic waste than their products do today. We aim to show the industry what the public wants and what the planet needs.</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row" style="margin-bottom: 60px">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-transparency.png" alt="Transparency" style="width:120px;margin: 32px 0 0"/></p>
            <h5>Transparency</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-together.png" alt="Work together" style="width:120px;margin: 32px 0 0"/></p>
            <h5>Work together</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-lifespan.png" alt="Increase lifespan" style="width:120px;margin: 32px 0 0"/></p>
            <h5>Increase lifespan</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-upgrade.png" alt="Upgradable" style="width:120px;margin: 32px 0 0"/></p>
            <h5>Upgradable</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container block"> 
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>How we want to achieve this</h2>
          <p>We at Phonebloks see ourselves as a holistic approach to end or reduce the various ethical and environmental problems existing in the consumer electronic market today. We believe in transformation from a flat- to a circular economy as well as steering towards new production methods, and indeed new products, logistic solutions and production materials will help us reach a more sensible industry. We see this transformation creating less wastage and pollution as well as a longer life-cycle and higher lever of recyclability (or even bio-degradability) for the end product. We advocate transparency, open source and open innovation and want to be the hub where the industry talk and listen to each other, and to the public.</p>
          <p>The first, and perhaps biggest, step, for us, is to aid the existing industry steer away from manufacturing products that are sold and repaired or replaced as whole-widgets to products that are modular. And in that, easy to repair or upgrade without the need for whole widget replacement, increasing the life-span of the product and reducing waste while doing it.</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <img src="/imgs/v4-components.png" style="width: 100%" />
    </div>
    <a name="team"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-12">
          <h2>Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4 class="teammember-photo dave-photo">Dave, Design</h4>
          <p>An independent Designer with a simple goal; try to make the world better by making better things.</p>
          <ul class="icon-links">
            <li><a href="http://davehakkens.nl" target="_blank"><i class="fa fa-external-link"></i>davehakkens.nl</a></li>
            <li><a href="https://twitter.com/davehakkens" target="_blank"><i class="fa fa-twitter"></i>davehakkens</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="teammember-photo gawin-photo">Gawin, Technology</h4>
          <p>A true life hacker with a passion for sharing, traveling and simplicity. Loves technology and being outdoors.</p>
          <ul class="icon-links">
            <li><a href="https://gaw.in" target="_blank"><i class="fa fa-external-link"></i>gaw.in</a></li>
            <li><a href="https://twitter.com/gawin" target="_blank"><i class="fa fa-twitter"></i>gawin</a></li>
          </ul>
       </div>
        <div class="col-md-3">
          <h4 class="teammember-photo tomas-photo">Tomas, Communication</h4>
          <p>A Musician turned Philosopher turned social media fanatic. Goes wherever the written word takes him.</p>
          <ul class="icon-links">
            <li><a href="http://about.me/tomashalberstad" target="_blank"><i class="fa fa-external-link"></i>about.me/tomashalberstad</a></li>
            <li><a href="https://twitter.com/tomashalberstad" target="_blank"><i class="fa fa-twitter"></i>tomashalberstad</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="teammember-photo sunny-photo">Sunny, Marketing</h4>
          <p>A world traveling marketing enthousiast, currently residing in the wonderful Panama.</p>
          <ul class="icon-links">
            <li><a href="http://sunnychen1011.carbonmade.com" target="_blank"><i class="fa fa-external-link"></i>sunnychen1011.carbonmade.com</a></li>
            <li><a href="https://twitter.com/sunnyqchen" target="_blank"><i class="fa fa-twitter"></i>sunnyqchen</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Feel you could contribute? <a href='{{ "/" .. language .. "/contact#jobs" }}'>Join our team</a>.</p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row">
        <div class="col-md-12">
          <h2>Timeline</h2>
          <ul class="timeline">
            
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012 December</small></p>
                </div>
                <div class="timeline-body">
                  <p>Dave starts thinking about how to help reduce planned obsolescence.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-start.png" class="timeline-photo" alt="Start of Phonebloks" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 January</small></p>
                </div>
                <div class="timeline-body">
                  <p>Work on Phonebloks begins, aimed to reducing electronic waste.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-components.png" class="timeline-photo" alt="Start of Phonebloks" /></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 September</small></p>
                </div>
                <div class="timeline-body">
                  <p>Public launch of Phonebloks with a video that hit over 1,000,000 views within the first 24 hours after publication.</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/oDAw7vW7H0c?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 September</small></p>
                </div>
                <div class="timeline-body">
                  <p>Gawin joins Dave to help out with the technology of Phonebloks.</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo gawin-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 September</small></p>
                </div>
                <div class="timeline-body">
                  <p>Acknowledged all over the world, including Al Jazeera, MKBHD, CNN, BBC, and some guy.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-press.png" class="timeline-photo" alt="Press coverage" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 October</small></p>
                </div>
                <div class="timeline-body">
                  <p>Launch Thunderclap campaign. On October 29, over 979,253 supporters send out the message on social media that they support Phonebloks, reaching over 380,000,000 people.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-thunderclap.png" class="timeline-photo" alt="Thunderclap" /></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 October</small></p>
                </div>
                <div class="timeline-body">
                  <p>Announce partnership with Motorola. Their ATAP team released Project Ara.</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/BaPf4ZIbDVM?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 October</small></p>
                </div>
                <div class="timeline-body">
                  <p>Tomas joins the team to strengthen the communications- and social media side of Phonebloks.</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo tomas-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 December</small></p>
                </div>
                <div class="timeline-body">
                  <p>Phonebloks community goes online. The place to discuss, share and get feedback on all things Phonebloks.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-community.png" class="timeline-photo" alt="Community" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 January</small></p>
                </div>
                <div class="timeline-body">
                  <p>Phonebloks design model is bought by Boijmans and Moti Museum.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-boijmans.png" class="timeline-photo" alt="Boijmans" /></p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 January</small></p>
                </div>
                <div class="timeline-body">
                  <p>Motorola is sold to Lenovo, keeping the ATAP Team which integrates into Google.</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/logo/google.png" alt="Cyso" style="width: 161px;height:84px;margin: 60px 0"></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 January</small></p>
                </div>
                <div class="timeline-body">
                  <p>Wade joins the team to manage the growing community.</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo wade-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 April</small></p>
                </div>
                <div class="timeline-body">
                  <p>Project Ara Developers Conference takes place to attract developers to this near prototype project.</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/_Q1JzJadgHY?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 May</small></p>
                </div>
                <div class="timeline-body">
                  <p>Phonebloks announce partnerships with Sennheiser and Fairphone.</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/AFTwthNrL_w?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
