    <div class="container" style="padding: 0 !important;margin-bottom: 0 !important">
      <iframe width="100%" height="500" src="//www.youtube-nocookie.com/embed/oDAw7vW7H0c?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container block">
      <div class="row" style="margin: 30px 0">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p><b>{{ t["ABOUT_HOW_IT_STARTED"] }}</b> {{ t["ABOUT_HOW_IT_STARTED_CONTENT"] }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <div class="container block text-center">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>{{ t["ABOUT_MISSION_TITLE"] }}</h2>
          <p>{{ t["ABOUT_MISSION_CONTENT"] }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row" style="margin-bottom: 60px">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-transparency.png" alt="Transparency" style="width:120px;margin: 32px 0 0"/></p>
            <h5>{{ t["ABOUT_MISSION_TRANSPARENCY"] }}</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-together.png" alt="Work together" style="width:120px;margin: 32px 0 0"/></p>
            <h5>{{ t["ABOUT_MISSION_TOGETHER"] }}</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-lifespan.png" alt="Increase lifespan" style="width:120px;margin: 32px 0 0"/></p>
            <h5>{{ t["ABOUT_MISSION_LIFESPAN"] }}</h5>
        </div>
        <div class="col-md-2">
            <p><img src="/imgs/v4-upgrade.png" alt="Upgradable" style="width:120px;margin: 32px 0 0"/></p>
            <h5>{{ t["ABOUT_MISSION_UPGRADABLE"] }}</h5>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container block"> 
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>{{ t["ABOUT_ACHIEVE_TITLE"] }}</h2>
          <p>{{ t["ABOUT_ACHIEVE_CONTENT_1"] }}</p>
          <p>{{ t["ABOUT_ACHIEVE_CONTENT_2"] }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <img src="/imgs/v4-components.png" style="width: 100%" />
    </div>
    <a name="team"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ t["ABOUT_TEAM_TITLE"] }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4 class="teammember-photo dave-photo">{{ t["ABOUT_TEAM_DAVE_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_DAVE_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/davehakkens" target="_blank"><i class="fa fa-twitter"></i>davehakkens</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="teammember-photo gawin-photo">{{ t["ABOUT_TEAM_GAWIN_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_GAWIN_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/gawin" target="_blank"><i class="fa fa-twitter"></i>gawin</a></li>
          </ul>
       </div>
        <div class="col-md-3">
          <h4 class="teammember-photo tomas-photo">{{ t["ABOUT_TEAM_THOMAS_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_THOMAS_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/tomashalberstad" target="_blank"><i class="fa fa-twitter"></i>tomashalberstad</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="teammember-photo sunny-photo">{{ t["ABOUT_TEAM_SUNNY_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_SUNNY_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/sunnyqchen" target="_blank"><i class="fa fa-twitter"></i>sunnyqchen</a></li>
          </ul>
        </div>
      </div>
      
      
        <div class="row">
        <div class="col-md-3">
          <h4 class="teammember-photo giulio-photo">{{ t["ABOUT_TEAM_GIULIO_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_GIULIO_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/Giulio_Minotti" target="_blank"><i class="fa fa-twitter"></i>giulio_minotti</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="teammember-photo gustavo-photo">{{ t["ABOUT_TEAM_GUSTAVO_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_GUSTAVO_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="https://twitter.com/gsilvapt" target="_blank"><i class="fa fa-twitter"></i>gsilvapt</a></li>
          </ul>
       </div>
        <div class="col-md-3">
          <h4 class="teammember-photo jeanbaptiste-photo">{{ t["ABOUT_TEAM_JEANBAPTISTE_TITLE"] }}</h4>
          <p>{{ t["ABOUT_TEAM_JEANBAPTISTE_CONTENT"] }}</p>
          <ul class="icon-links">
            <li><a href="http://tmahf.se/" target="_blank"><i class="fa fa-external-link"></i>tmahf.se</a></li>
            <li><a href="https://twitter.com/tomashalberstad" target="_blank"><i class="fa fa-twitter"></i>tomashalberstad</a></li>
          </ul>
        </div>
      </div>
      
      
      
      <div class="row">
        <div class="col-md-12 text-center">
          <p>{{ t["ABOUT_CONTRIBUTE"] }} <a href='{{ "/" .. language .. "/contact#jobs" }}'>{{ t["ABOUT_JOIN"] }}</a>.</p>
        </div>
      </div>
    </div>
    
    
    
    
    

    <div class="container block">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ t["ABOUT_TIMELINE_TITLE"] }}</h2>
          <ul class="timeline">
            
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2012 {{ t["MONTH_DEC_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_1"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-start.png" class="timeline-photo" alt="Start of Phonebloks" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_JAN_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_2"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-components.png" class="timeline-photo" alt="Start of Phonebloks" /></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_SEP_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_3"] }}</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/oDAw7vW7H0c?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_SEP_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_4"] }}</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo gawin-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_SEP_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_5"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-press.png" class="timeline-photo" alt="Press coverage" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_OCT_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_6"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-thunderclap.png" class="timeline-photo" alt="Thunderclap" /></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_OCT_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_7"] }}</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/BaPf4ZIbDVM?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_OCT_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_8"] }}</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo tomas-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013 {{ t["MONTH_DEC_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_9"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-community.png" class="timeline-photo" alt="Community" /></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 {{ t["MONTH_JAN_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_10"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/v4-time-boijmans.png" class="timeline-photo" alt="Boijmans" /></p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 {{ t["MONTH_JAN_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_11"] }}</p>
                  <hr>
                  <p class="text-center"><img src="/imgs/logo/google.png" alt="Cyso" style="width: 161px;height:84px;margin: 60px 0"></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 {{ t["MONTH_JAN_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_12"] }}</p>
                  <hr>
                  <p class="text-center"><div class="teammember-photo wade-photo"></div></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 {{ t["MONTH_APR_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_13"] }}</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/_Q1JzJadgHY?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2014 {{ t["MONTH_MAY_FULL"] }}</small></p>
                </div>
                <div class="timeline-body">
                  <p>{{ t["ABOUT_TIMELINE_14"] }}</p>
                  <hr>
                  <p><iframe width="100%" height="261" src="//www.youtube.com/embed/AFTwthNrL_w?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1" frameborder="0" allowfullscreen></iframe></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
