    <div class="container block" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center" style="margin: 60px 0"><img width="450" height="340" src="/imgs/under_construction.jpg"></p>
          <h2 class="text-center" >{{ t["COMMUNITY_TITLE"] }}</h2>
          <p class="text-center" style="width: 60%;margin: 0 auto" >{{ t["COMMUNITY_CONTENT"] }}</p>
          <p class="text-center" style="font-style: italic">{{ t["COMMUNITY_CONTENT_2"] }}</p>
          </p>
        </div>
      </div>
    </div>
