    <a name="contact"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-envelope.png" alt="Contact" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>Contact</h2>
          <p>Do you still have questions after reading <a href='{{ "/" .. language .. "/about" }}'>our story</a> and the <a href='{{ "/" .. language .. "/faq" }}'>FAQ</a>? Or would you just like to get in touch with us? Then please send us an email or tweet:</p>
          <ul class="icon-links">
            <li><a href="mailto:hello@phonebloks.com" target="_blank"><i class="fa fa-envelope"></i>hello@phonebloks.com</a></li>
            <li><a href="https://twitter.com/getphonebloks" target="_blank"><i class="fa fa-twitter"></i>getphonebloks</a></li>
          </ul>
          <p><i>We do our very best to answer all email within a reasonable time, however since we are only with a small team of volunteers it sometimes takes a little bit longer than we personally would like.</i></p>
        </div>
      </div>
    </div>

    <a name="jobs"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-briefcase.png" alt="Jobs" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>Jobs</h2>
          <p>The <a href='{{ "/" .. language .. "/about#team" }}'>core team</a> is a group of volunteers deeply committed Phonebloks. There are several ways you can {help us} without putting in the full commitment needed for a role in the core team.</p>
          <p>We are always looking for passionate and smart people with diverse backgrounds and are willing to make a difference. Currently we could use help in Strategy and Business Development, Technical Development (back-end: Lua, Ruby, front-end: JS/HTML), Social Media (Facebook/Twitter/Weibo) and in managing communities and communications in general.</p>
          <p>If you want to do more and become a part of the core team, then let’s get in contact!</p>
        </div>
      </div>
    </div>

    <a name="press"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-newspaper.png" alt="Press" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>Press</h2>
          <p>Interested in writing a publication about Phonebloks or just need some high resolution images? Then please send us an email at <a href="mailto:press@phonebloks.com">press@phonebloks.com</a> and we will make sure you receive our press kit!</p>
        </div>
      </div>
    </div>

    <a name="events"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-present.png" alt="Events" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>Events</h2>
          <p>From time to time we have public appearances at special events. We speak on a wide range of topics and try to make it fit your event. But we are quite picky on the events we select for our speaking opportunities. Please send us an email at <a href="mailto:hello@phonebloks.com ">hello@phonebloks.com</a> if you feel that we could contribute to your event.</p>
        </div>
      </div>
    </div>