    <a name="contact"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-envelope.png" alt="Contact" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["CONTACT_TITLE"] }}</h2>
          <p>{{ t["CONTACT_CONTENT_1"] }} <a href='{{ "/" .. language .. "/about" }}'>{{ t["CONTACT_CONTENT_2"] }}</a> {{ t["CONTACT_CONTENT_3"] }} <a href='{{ "/" .. language .. "/faq" }}'>{{ t["CONTACT_CONTENT_4"] }}</a>? {{ t["CONTACT_CONTENT_5"] }}:</p>
          <ul class="icon-links">
            <li><a href="mailto:{{ t["CONTACT_CONTENT_EMAIL"] }}" target="_blank"><i class="fa fa-envelope"></i>{{ t["CONTACT_CONTENT_EMAIL"] }}</a></li>
            <li><a href="https://twitter.com/{{ t["CONTACT_CONTENT_TWITTER"] }}" target="_blank"><i class="fa fa-twitter"></i>{{ t["CONTACT_CONTENT_TWITTER"] }}</a></li>
          </ul>
          <p><i>{{ t["CONTACT_CONTENT_6"] }}</i></p>
        </div>
      </div>
    </div>

    <a name="jobs"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-briefcase.png" alt="Jobs" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["CONTACT_JOBS_TITLE"] }}</h2>
          <p>{{ t["CONTACT_JOBS_CONTENT_1"] }} <a href='{{ "/" .. language .. "/about#team" }}'>{{ t["CONTACT_JOBS_CONTENT_2"] }}</a> {{ t["CONTACT_JOBS_CONTENT_3"] }} <a href='{{ "/" .. language .. "/help-us" }}'>{{ t["FAQ_5_CONTENT_2"] }}</a> {{ t["CONTACT_JOBS_CONTENT_3B"] }}</p>
          <p>{{ t["CONTACT_JOBS_CONTENT_4"] }}</p>
          
          <p>{{ t["CONTACT_JOBS_CONTENT_5"] }} <a href="mailto:{{ t["CONTACT_JOBS_EMAIL"] }}">{{ t["CONTACT_JOBS_EMAIL"] }}</a>.</p>
        </div>
      </div>
    </div>

    <a name="press"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-newspaper.png" alt="Press" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["CONTACT_PRESS_TITLE"] }}</h2>
          <p>{{ t["CONTACT_PRESS_CONTENT_1"] }} <a href="mailto:{{ t["CONTACT_PRESS_CONTENT_EMAIL"] }}">{{ t["CONTACT_PRESS_CONTENT_EMAIL"] }}</a> {{ t["CONTACT_PRESS_CONTENT_2"] }}</p>
        </div>
      </div>
    </div>

    <a name="events"></a>
    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-present.png" alt="Events" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["CONTACT_EVENTS_TITLE"] }}</h2>
          <p>{{ t["CONTACT_EVENTS_CONTENT_1"] }}<a href="mailto:{{ t["CONTACT_EVENTS_CONTENT_EMAIL"] }}">{{ t["CONTACT_EVENTS_CONTENT_EMAIL"] }}</a> {{ t["CONTACT_EVENTS_CONTENT_2"] }}</p>
        </div>
      </div>
    </div>