    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"><img src="/imgs/v4-heart.png" alt="Contact" style="width:160px;margin: 30px 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["DONATE_REASON_TITLE"] }}</h2>
          <p>{{ t["DONATE_REASON_CONTENT"] }}</p>
          <p>{{ t["DONTATE_PAYMENT_TYPE"] }}:</p>
          <p class='support-options' style="margin: 30px 0">
            <button id="chooseStripe" type="button" class="btn btn-default">{{ t["DONTATE_PAYMENT_CREDITCARD"] }}</button>&nbsp;&nbsp;
            <button id="choosePaypal" type="button" class="btn btn-default">{{ t["DONTATE_PAYMENT_PAYPAL"] }}</button>
          </p>

          <div id="stripeForm" class="well card" style="display:none">
            <p class="text-center"><img src="/imgs/v4-stripe.png" alt="paypal" style="margin: 30px"></p>
            <form class="form-horizontal" role="form" name="stripe" action="" method="POST" id="donation-stripe">
              
              <div class="form-group" style="margin-top:30px;">
                <div class="col-sm-offset-3 col-sm-9">
                  <span class="stripe-errors"></span>
                </div>
              </div>
              

              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ t["DONATE_CREDITCARD_NAME"] }}:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" size="20" maxlength="50" id="name" data-stripe="name"/>
                </div>
                <div class="col-sm-3"></div>
              </div>

              <div class="form-group">
                <label for="number" class="col-sm-3 control-label">{{ t["DONATE_CREDITCARD_NO"] }}:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" size="20" maxlength="20" id="number" data-stripe="number"/>
                </div>
                <div class="col-sm-3"></div>
              </div>

              <div class="form-group">
                <label id="month" data-stripe="name" for="number" class="col-sm-3 control-label">{{ t["DONATE_CREDITCARD_EXP_DATE"] }}:</label>
                <div class="col-sm-2">
                  <select name="month" class="form-control" title="Month" id="month" data-stripe="exp-month">
                    <option value="01" selected="selected">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select name="year" class="form-control" title="Year" data-stripe="exp-year">
                    <option value="2013">2013</option>
                    <option value="2014" selected="selected">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                    <option value="2036">2036</option>
                    <option value="2037">2037</option>
                  </select>
                </div>
                <div class="col-sm-5"></div>
              </div>
                
              <div class="form-group">
                <label for="cvc" class="col-sm-3 control-label">{{ t["DONATE_CREDITCARD_CVC"] }}:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" size="4" maxlength="4" id="cvc" data-stripe="cvc"/>
                </div>
                <div class="col-sm-3"></div>
              </div>

            </form>
          </div>

          <div id="paypalForm" class="well card card-paypal" style="display:none">
            <p class="text-center"><img src="/imgs/v4-paypal.png" alt="paypal" style="margin: 30px"></p>
            <p class="text-center">{{ t["DONATE_PAYPAL"] }}</p>
            <form name="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:none">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="6PLRSC29NT9KN">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>

          <div id="donationForm" class="well card donation-form" style="display:none">
            <form class="form-horizontal" role="form" name="donation" action="/api/donation/donate" method="POST" id="donation">
              <p>{{ t["DONATE_PUBLISH"] }}</p>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="radio">
                    <label>
                      <input type="radio" name="public" id="no" value="no" checked>
                      {{ t["DONATE_PUBLISH_NO"] }}
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="public" id="yes" value="yes" >
                      {{ t["DONATE_PUBLISH_YES"] }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label data-stripe="name" for="publicName" class="col-sm-3 control-label">{{ t["DONATE_PUBLIC_NAME"] }}:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" size="20" maxlength="50" name="publicName" id="publicName"/>
                </div>
                <div class="col-sm-3"></div>
              </div>

              <div class="form-group">
                <label data-stripe="name" for="email" class="col-sm-3 control-label">{{ t["DONATE_EMAIL"] }}:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" size="20" maxlength="255" name="email" id="email"/>
                </div>
                <div class="col-sm-3"></div>
              </div>

              <div class="form-group">
                <label data-stripe="name" for="amount" class="col-sm-3 control-label">{{ t["DONATE_AMOUNT"] }}:</label>
                <div class="col-sm-2">
                  <select class="form-control" title="currency" id="currency" name="currency">
                    <option value="USD">USD</option>
                    <option value="EUR" selected="selected">EUR</option>
                     <option value="GPB">GPB</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="amount" name="amount" maxlength="6" size="5" style="text-align: right">
                </div>
                <div class="col-sm-5"></div>
              </div>

              <input type="hidden" name="provider" value="stripe">
              <div class="form-group" style="margin-top:30px;">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-inverted" id="processDonation">{{ t["DONATE_SEND"] }}</button>
                </div>
              </div>

              <div class="form-group" style="margin-top:30px;">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="result"></div>
                </div>
              </div>
              
            </form>
          </div>

      </div>
    </div>
  </div>

  <div class="container block">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ t["DONATE_CONTRIBUTORS_TITLE"] }}</h2>
        <p>{{ t["DONATE_CONTRIBUTORS_CONTENT"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <ul class="donationlist">
            {( "data/donors.html" )}
          </ul>
      </div>
    </div>
  </div>
