    <div class="container block"> 
      <div class="row text-center" style="margin-bottom:60px">
        <div class="col-md-12">
          <p><img src="/imgs/v4-faq.png" alt="FAQ" style="width:160px;margin: 32px 0 0"/></p>
          <h2>{{ t["FAQ_TITLE"] }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>{{ t["FAQ_1_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_1_CONTENT"] }}</p>
          
          <h3>{{ t["FAQ_2_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_2_CONTENT"] }} <a href='{{ "/" .. language .. "/partners" }}'>{{ t["FAQ_2_PARTNERS"] }}</a> {{ t["FAQ_2_CONTENT_2"] }}</p>

          <h3>{{ t["FAQ_3_TITLE"] }}</h3>
          <p style="margin-bottom:30px">
            {{ t["FAQ_3_CONTENT"] }}
            <a href='{{ t["SOCIAL_MEDIA_TWITTER_URL"] }}' target='_blank'>{{ t["SOCIAL_MEDIA_TWITTER"] }}</a>,
            <a href='{{ t["SOCIAL_MEDIA_FACEBOOK_URL"] }}' target='_blank'>{{ t["SOCIAL_MEDIA_FACEBOOK"] }}</a>,
            <a href='{{ t["SOCIAL_MEDIA_GOOGLE_URL"] }}' rel='publisher' target="_blank">{{ t["SOCIAL_MEDIA_GOOGLE"] }}</a> {{ t["FAQ_3_CONTENT_2"] }}
            <a href='{{ t["SOCIAL_MEDIA_BLOG_URL"] }}' rel='publisher'>{{ t["SOCIAL_MEDIA_BLOG"] }}</a>. {{ t["FAQ_3_CONTENT_3"] }} <a href="{{ t["SOCIAL_MEDIA_NEWS_LETTER_URL"] }}">{{ t["SOCIAL_MEDIA_NEWS_LETTER"] }}</a>.
          </p>

          <h3>{{ t["FAQ_4_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_4_CONTENT"] }} <a href='{{ "/" .. language .. "/about#team" }}'>{{ t["FAQ_4_CONTENT_2"] }}</a>{{ t["FAQ_4_CONTENT_3"] }}</p>
          
          <h3>{{ t["FAQ_5_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_5_CONTENT"] }} <a href='{{ "/" .. language .. "/partners" }}'>{{ t["FAQ_5_CONTENT_2"] }}</a> {{ t["FAQ_5_CONTENT_3"] }}</p>

          <h3>{{ t["FAQ_6_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_6_CONTENT"] }}</p>

          <h3>{{ t["FAQ_7_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_7_CONTENT"] }}</p>

          <h3>{{ t["FAQ_8_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_8_CONTENT"] }}</p>

          <h3>{{ t["FAQ_9_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_9_CONTENT"] }}</p>
          
          <h3>{{ t["FAQ_10_TITLE"] }}</h3>
          <p>{{ t["FAQ_10_CONTENT"] }} <a href='{{ "/" .. language .. "/about" }}'>{{ t["FAQ_10_CONTENT_2"] }}</a> {{ t["FAQ_10_CONTENT_3"] }}</p>
        </div>
        <div class="col-md-6">
          <h3>{{ t["FAQ_11_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_11_CONTENT"] }}</p>
          
          <h3>{{ t["FAQ_12_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_12_CONTENT"] }}</p>
          
          <h3>{{ t["FAQ_13_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_13_CONTENT"] }} <a href="http://www.projectara.com">{{ t["FAQ_13_CONTENT_2"] }}</a> {{ t["FAQ_13_CONTENT_3"] }}</p>

          <h3>{{ t["FAQ_14_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_14_CONTENT"] }}</p>

          <h3>{{ t["FAQ_15_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_15_CONTENT"] }}</p>

          <h3>{{ t["FAQ_16_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_16_CONTENT"] }} <a href='{{ "/" .. language .. "/donate" }}'>{{ t["FAQ_16_CONTENT_2"] }}donations</a> {{ t["FAQ_16_CONTENT_3"] }}</p>

          <h3>{{ t["FAQ_17_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_17_CONTENT"] }}</p>
          
          <h3>{{ t["FAQ_18_TITLE"] }}</h3>
          <p style="margin-bottom:30px">{{ t["FAQ_18_CONTENT"] }} <a href='mailto:{{ t["FAQ_18_EMAIL"] }}'>{{ t["FAQ_18_EMAIL"] }}</a>.</p>
          
          <h3>{{ t["FAQ_19_TITLE"] }}</h3>
          <p>
            {{ t["FAQ_19_CONTENT"] }}
            <a href='{{ t["SOCIAL_MEDIA_TWITTER_URL"] }}' target='_blank'>{{ t["SOCIAL_MEDIA_TWITTER"] }}</a>,
            <a href='{{ t["SOCIAL_MEDIA_FACEBOOK_URL"] }}' target='_blank'>{{ t["SOCIAL_MEDIA_FACEBOOK"] }}</a>,
            <a href='{{ t["SOCIAL_MEDIA_GOOGLE_URL"] }}' rel='publisher' target="_blank">{{ t["SOCIAL_MEDIA_GOOGLE"] }}</a> {{ t["FAQ_19_CONTENT_2"] }}
            <a href='{{ t["SOCIAL_MEDIA_BLOG_URL"] }}' rel='publisher'>{{ t["SOCIAL_MEDIA_BLOG"] }}</a>. {{ t["FAQ_3_CONTENT_3"] }} <a href="{{ t["SOCIAL_MEDIA_NEWS_LETTER_URL"] }}">{{ t["SOCIAL_MEDIA_NEWS_LETTER"] }}</a>.<br>
            {{ t["FAQ_19_CONTENT_3"] }}
            <a href='{{ t["FAQ_19_EMAIL"] }}' />{{ t["FAQ_19_EMAIL"] }}</a>.
          </p>          
        </div>
      </div>
    </div>
