    <div class="container block"> 
      <div class="row text-center" style="margin-bottom:60px">
        <div class="col-md-12">
          <p><img src="/imgs/v4-faq.png" alt="FAQ" style="width:160px;margin: 32px 0 0"/></p>
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Who made Phonebloks?</h3>
          <p style="margin-bottom:30px">The original concept was designed by Dave Hakkens. Then Gawin Dapper joined the team to solve technical issues, Tomas Halberstad to help with communications and Wade Burrell to help in the community.</p>
          
          <h3>Open for other partners?</h3>
          <p style="margin-bottom:30px">Yes! We would love to have more partners onboard, please visit our <a href='{{ "/" .. language .. "/partners" }}'>partner page</a> for more information.</p>

          <h3>Can I stay updated?</h3>
          <p style="margin-bottom:30px">
            We would love that. Follow us on
            <a href='http://www.twitter.com/getphonebloks' target='_blank'>Twitter</a>,
            <a href='http://www.facebook.com/phonebloks' target='_blank'>Facebook</a>,
            <a href='https://plus.google.com/101501762693100731543' rel='publisher'>Google+</a> and
            <a href='http://blog.phonebloks.com' rel='publisher'>Blog</a>. Or join our <a href="#join">news letter</a>.
          </p>

          <h3>Where is it from?</h3>
          <p style="margin-bottom:30px">The <a href='{{ "/" .. language .. "/about#team" }}'>core team</a> (just the four of us) are located in the Netherlands, Sweden and the United States.</p>
          
          <h3>Can I help out?</h3>
          <p style="margin-bottom:30px">Definitely! Please visit our special <a href='{{ "/" .. language .. "/partners" }}'>help us</a> page for all the details.</p>

          <h3>Can I invest?</h3>
          <p style="margin-bottom:30px">Yes, you may donate. We aren't looking for investors. We want to stay 100% independent.</p>

          <h3>When is it ready?</h3>
          <p style="margin-bottom:30px">Wish we could tell you. But please rest assured that we are working day and night to bring you a modular phone!</p>

          <h3>Why stop at phones?</h3>
          <p style="margin-bottom:30px">We would love to see bloks implemented in all of our electronics. Exchanging, repairing and replacing parts whenever needed. But for now we do want to focus on one of our most used objects in our lives, your phone.</p>

          <h3>Why didn’t you build Phonebloks yourself?</h3>
          <p style="margin-bottom:30px">Setting up another phone company doesn’t have the most impact to reduce e-waste. We believe steering the excisting industry does. With the power of the people we might be able to shift them towards modular thinking and make them future-proof.</p>
          
          <h3>What are the future plans?</h3>
          <p>Reduce electronic waste. Show the world a modular isn’t impossible to make by helping developing projects like Project Ara. And get more partners onboard that want to work towards modular electronics. please visit our <a href='{{ "/" .. language .. "/about" }}'>about page</a> for more information.</p>
        </div>
        <div class="col-md-6">
          <h3>How did the Thunderclap go?</h3>
          <p style="margin-bottom:30px">Awesome. The original goal was to find 500 supporters but we ended up with over 979,372. We thereby reached over 381,823,577 people on the 29th of October 2013.</p>
          
          <h3>Can we buy the Phonebloks from the video?</h3>
          <p style="margin-bottom:30px">The original concept will never make it to the stores, it was just an concept, a vision. In fact if we were to build it we would make it even better! For example, by not connecting bloks with tiny fragile pins. But please rest assured that we are working day and night to push the industry towards developing a modular phone!</p>
          
          <h3>What is Project Ara</h3>
          <p style="margin-bottom:30px">Googles version of a modular phone. We are good friends with them, have a look the <a href="http://www.projectara.com">Project Ara</a> website.</p>

          <h3>Did Google buy Phonebloks?</h3>
          <p style="margin-bottom:30px">No! We are 100% independent from Google and like to keep it that way. We do support what they are doing with Project Ara, showing the world a modular phone is possible. We’re determined to help and support wherever we can.</p>

          <h3>Project Ara isn't as modular as Phonebloks.</h3>
          <p style="margin-bottom:30px">You are right, wel spotted! But we do fully support Google for taking the lead and showing the world a modular phone isn’t impossible to make. It’s a great first step in the right direction.</p>

          <h3>How do you earn money?</h3>
          <p style="margin-bottom:30px">Money is not our main objective. We want to change the world for the better. Our core team is dedicating their spare time on a voluntary basis. But we do want to continue what we are doing. We fully depend on your <a href='{{ "/" .. language .. "/donate" }}'>donations</a> and some support from our partners!</p>

          <h3>Why did you make this?</h3>
          <p style="margin-bottom:30px">The market of electronic devices is growing rapidly, but it feels like we are building disposable stuff. Every time we make something new we completely throw away the old one. Imagine all the good displays, bluetooths and speakers we have thrown away. I love the connected world that we live in and now it's time to set up a universal modular platform that companies work on together. To build the best phone in the world.</p>
          
          <h3>Press kit</h3>
          <p style="margin-bottom:30px">Yes, send us an email at <a href="mailto:press@phonebloks.com">press@phonebloks.com</a>.</p>
          
          <h3>Contact</h3>
          <p>
            Follow us on
            <a href='http://www.twitter.com/getphonebloks' target='_blank'>Twitter</a>,
            <a href='http://www.facebook.com/phonebloks' target='_blank'>Facebook</a>,
            <a href='https://plus.google.com/101501762693100731543' rel='publisher'>Google+</a> and
            <a href='http://blog.phonebloks.com' rel='publisher'>Blog</a>.<br>
            Or send us an email at
            <a href='hello@phoneloks.com' />hello@phonebloks.com</a>.
          </p>          
        </div>
      </div>
    </div>
