    <div class="container submenu text-center" style="margin-bottom: 15px">
      <div class="row">
        <div class="col-md-3 submenu-left">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-people.png" alt="Community" style="width:160px;margin: 37px 0 0"/></p>
            <h3>Join our Community</h3>
          </div>
        </div>
        <div class="col-md-3 submenu-middle" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-handshake2.png" alt="Partner" style="width:160px;margin: 32px 0 0"/></p>
            <h3>Become a Partner</h3>
        </div>
        <div class="col-md-3 submenu-right">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-promote.png" alt="Share" style="width:160px;margin: 37px 0 0"/></p>
            <h3>Share</h3>
          </div>
        </div>
        <div class="col-md-3 submenu-right">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-heart.png" alt="Donate" style="width:160px;margin: 37px 0 0" /></p>
            <h3>Donate</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-8">
          <h2>Join the Community</h2>
          <p>We love to see all of you involved in bring this idea to life. It’s our greatest goal too! We have set up an online community where we you can discuss all aspects of the project and where we will post challenges when we need your help or input. We believe that development should be done openly and together with anyone who wants to take part. So, if you want to take part, please join us!.</p>
          <p><a href='http://discuss.phonebloks.com' class="btn btn-default" role="button">Join the Community</a></p>
        </div>
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-people.png" alt="Community" style="width:160px;margin: 25px 0 0"/></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-handshake2.png" alt="Partner" style="width:160px;margin: 30px 0 0"/></p>
        </div>
        <div class="col-md-8">
          <h2>Become a Partner</h2>
          <p>We would love to have your company, or the company you work for, as a partner. The more partners that are involved in this project the bigger the chance of success. If the company that you represent is interested in becoming a partner, we have set up a partner page with all the information you need.</p>
          <p><a href='{{ "/" .. language .. "/partners" }}' class="btn btn-default" role="button">About our Partners</a></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-8">
          <h2>Share</h2>
          <p>Right from the start all off your amazing support made this project kick off. In order for us to keep going ahead we need continued support. People that will spread the word about Phonebloks. Educate the rest of the world, read our <a href='{{ "/" .. language .. "/about" }}'>full story</a> and pass it along! Liking our posts and retweeting us on social media helps enormous.</p>
          <p>Phonebloks would not be possible without your help!</p>
        </div>
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-promote.png" alt="Promote" style="width:160px;margin: 30px 0 0"/></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-heart.png" alt="Donate" style="width:160px;margin: 30px 0 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>Donate</h2>
          <p>We are an independent organization that relies on funding from partners and supporters. Every penny you donate will be spend towards keeping Phonebloks independent and pushing us further towards our goals.</p>
          <p><a href='{{ "/" .. language .. "/donate" }}' class="btn btn-inverted" role="button">Donate</a></p>
        </div>
      </div>
    </div>