    <div class="container submenu text-center" style="margin-bottom: 15px">
      <div class="row">
        <div class="col-md-3 submenu-left">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-people.png" alt="Community" style="width:160px;margin: 37px 0 0"/></p>
            <h3>{{ t["HELP_1_TITLE"] }}</h3>
          </div>
        </div>
        <div class="col-md-3 submenu-middle" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-handshake2.png" alt="Partner" style="width:160px;margin: 32px 0 0"/></p>
            <h3>{{ t["HELP_2_TITLE"] }}</h3>
        </div>
        <div class="col-md-3 submenu-right">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-promote.png" alt="Share" style="width:160px;margin: 37px 0 0"/></p>
            <h3>{{ t["HELP_3_TITLE"] }}</h3>
          </div>
        </div>
        <div class="col-md-3 submenu-right">
          <div class="submenu-block" style="padding-bottom: 60px">
            <p><img src="/imgs/v4-heart.png" alt="Donate" style="width:160px;margin: 37px 0 0" /></p>
            <h3>{{ t["HELP_4_TITLE"] }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-8">
          <h2>{{ t["HELP_5_TITLE"] }}</h2>
          <p>{{ t["HELP_5_CONTENT"] }}</p>
          <p><a href='http://discuss.phonebloks.com' class="btn btn-default" role="button">{{ t["HELP_5_CONTENT_2"] }}</a></p>
        </div>
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-people.png" alt="Community" style="width:160px;margin: 25px 0 0"/></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-handshake2.png" alt="Partner" style="width:160px;margin: 30px 0 0"/></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["HELP_6_TITLE"] }}</h2>
          <p>{{ t["HELP_6_CONTENT"] }}</p>
          <p><a href='{{ "/" .. language .. "/partners" }}' class="btn btn-default" role="button">{{ t["HELP_6_CONTENT_2"] }}</a></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-8">
          <h2>{{ t["HELP_7_TITLE"] }}</h2>
          <p>{{ t["HELP_7_CONTENT"] }}<a href='{{ "/" .. language .. "/about" }}'>{{ t["HELP_7_CONTENT_2"] }}</a> {{ t["HELP_7_CONTENT_3"] }}</p>
          <p>{{ t["HELP_7_CONTENT_4"] }}</p>
        </div>
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-promote.png" alt="Promote" style="width:160px;margin: 30px 0 0"/></p>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row" style="margin: 60px 0">
        <div class="col-md-4 text-center">
          <p><img src="/imgs/v4-heart.png" alt="Donate" style="width:160px;margin: 30px 0 0" /></p>
        </div>
        <div class="col-md-8">
          <h2>{{ t["HELP_8_TITLE"] }}</h2>
          <p>{{ t["HELP_8_CONTENT"] }}</p>
          <p><a href='{{ "/" .. language .. "/donate" }}' class="btn btn-inverted" role="button">{{ t["HELP_8_CONTENT_2"] }}</a></p>
        </div>
      </div>
    </div>