    <div class="container block"> 
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p style="font-size: 19px;line-height: 30px;text-align: center;margin-top: 60px">{{ t["INDEX_INTRO_1A"] }}
          <img src="/imgs/v4-exploded.png" alt="Phonebloks" style="width: 160px;height: 160px;margin: 30px 0"/><br>
          {{ t["INDEX_INTRO_1B"] }}<br>&nbsp;</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9" id="video-full">
           <iframe class="video-full" width="100%" height="100%" src="//www.youtube.com/embed/4KmewIC-eV4?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=1&amp;vq=hd1080&amp;hd=1" frameborder="0" wmode="transparent" allowfullscreen></iframe>
        </div>
        <div class="col-md-3 block video-sidebar">
         <h2>{{ t["INDEX_INTRO_2A"] }}</h2>
          <p>{{ t["INDEX_INTRO_2B"] }}
            <a href='{{ "/" .. language .. "/about" }}'>{{ t["INDEX_INTRO_2C"] }}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="container submenu text-center front-links">
      <div class="row">
        <div class="col-md-4 submenu-left">
          <div class="submenu-block">
            <a href='https://community.phonebloks.com'>
              <p class="text-center"><img src="/imgs/v4-people.png" alt="Community"/></p>
              <h3>{{ t["INDEX_INTRO_3A"] }}</h3>
              <p>{{ t["INDEX_INTRO_3B"] }}</p>
            </a>
          </div>
        </div>
        <div class="col-md-4 submenu-middle">
          <a href='{{ "/" .. language .. "/partners" }}'>
            <p class="text-center"><img src="/imgs/v4-handshake2.png" alt="Partner"/></p>
            <h3>{{ t["INDEX_INTRO_4A"] }}</h3>
            <p>{{ t["INDEX_INTRO_4B"] }}</p>
          </a>
        </div>
        <div class="col-md-4 submenu-right">
          <div class="submenu-block">
            <a href='{{ "/" .. language .. "/help-us" }}'>
              <p class="text-center"><img src="/imgs/v4-heart.png" alt="Donate" /></p>
              <h3>{{ t["INDEX_INTRO_5A"] }}</h3>
              <p>{{ t["INDEX_INTRO_5B"] }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container block"> 
      <div class="row">
        <div class="col-md-12">
          <h3>{{ t["INDEX_INTRO_6A"] }}</h3>
        </div>
        <div class="col-md-4">
          <ul class="news">
            <li>
              <a href="https://www.youtube.com/watch?v=4KmewIC-eV4" target="_blank">
                <i class="fa fa-youtube-play"></i>
                <span class="title">Our first year!</span>
                <span class="date">10 Sep 2014, youtube.com</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=FNQpUgzxhBM" target="_blank">
                <i class="fa fa-youtube-play"></i>
                <span class="title">First ARA Developer conference</span>
                <span class="date">16 Jun 2014, youtube.com</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=AFTwthNrL_w" target="_blank">
                <i class="fa fa-youtube-play"></i>
                <span class="title">Partnership with Sennheiser</span>
                <span class="date">8 May 2014, youtube.com</span>
              </a>
            </li>
            <li>
              <a href="http://thingscon.com/" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Speaking at ThingsCon Berlin</span>
                <span class="date">3 May 2014, thingscon.com</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="news">
            <li>
              <a href="http://www.projectara.com/mdk/" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Project Ara developers kit released</span>
                <span class="date">9 April 2014, projectara.com</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=_Q1JzJadgHY" target="_blank">
                <i class="fa fa-youtube-play"></i>
                <span class="title">Project Ara: Meet the team.</span>
                <span class="date">3 April 2014, youtube.com</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa  fa-facebook-square"></i>
                <span class="title">400K Followers on Facebook</span>
                <span class="date">25 March 2014, facebook.com</span>
              </a>
            </li>
            <li>
              <a href="http://xn--bredygtigbundlinje-oub.dk/#program" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Speaking at Sustainable Bottom Line</span>
                <span class="date">13 March 2014, b&aelig;redygtigbundlinje.dk</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="news">
            <li>
              <a href="http://www.designindaba.com/video/building-blocks-new-phone" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Speaking at Design Indaba</span>
                <span class="date">27 February 2014, designindaba.com</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=zG_uwDqLsZY" target="_blank">
                <i class="fa fa-youtube-play"></i>
                <span class="title">Project Ara: The story behind</span>
                <span class="date">25 February 2014, youtube.com</span>
              </a>
            </li>
            <li>
              <a href="http://www.designsoftheyear.com/" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Nominated for the Design of the Year Award</span>
                <span class="date">11 February 2014, designsoftheyear.com</span>
              </a>
            </li>
            <li>
              <a href="http://news.lenovo.com/article_display.cfm?article_id=1768" target="_blank">
                <i class="fa fa-bookmark-o"></i>
                <span class="title">Lenovo buys Motorola, Google keeps Ara</span>
                <span class="date">29 January 2014, lenovo.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
   </div>
