      <div class='content'>
        <div class='box single'>
          <h2>{{ t["NEWS_LETTER_TITLE"] }}</h2>
          <div class="sendgrid-subscription-widget" data-token="wvysR7ObOXcUkyosaKjmVebvlAXZ%2BOjU5kaU2JbpqfJQvcj2zN61K5n4U5qE%2BIft"></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "sendgrid-subscription-widget-js");</script>
        </div>
        {( "common/cta.html" )}
      </div>
