    <div class="container block" style="padding: 90px 0">
      <div class="row">
        <div class="col-md-4 text-center">
          <a href="#" class="google"><img src="/imgs/logo/google.png" alt="Cyso" style="width: 161px;height:84px"></a><br/><br/>
          <a href="#" id="google" class="google btn btn-default" role="button">About Google</a>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="sennheiser"><img src="/imgs/logo/sennheiser.png" alt="Cyso" style="width: 161px;height:84px"></a><br/><br/>
          <a href="#" id="sennheiser" class="sennheiser btn btn-default" role="button">About Sennheiser</a>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="fairphone"><img src="/imgs/logo/fairphone.png" alt="Cyso" style="width: 161px;height:84px"></a><br/><br/>
          <a href="#" id="fairphone" class="fairphone btn btn-default" role="button">About Fairphone</a>
        </div>
      </div>
    </div>

    <div id="google-more" class="container" style="padding-bottom: 15px;display:none">
      <div class="row">
        <div class="col-md-12">
          <div class="well" style="background-color: #d9d9db">
          <h4>Google</h4>
            <p>Google started out as a search engine but we've grown into so much more.
We build products that we hope will make the web better, and Therefore your experience on the web better. With products like Chrome and Android, we want to make it simpler and faster for people to do what they want to online. Above all, It Means making our products work better so That people can spend time on the stuff they're good at, like enjoying time with family, camping in the wilderness, painting a picture or throwing a party. We're not there yet, but we're working on it.</p>
<h5 style="margin-top: 30px">Project Ara</h5>
<p>Google is developing their version of a modular phone;  Project Ara.
By turning the phone into a canvas so that your phone does exactly what you want it to do, and looks you way you want it to be.</p>
<p>They are aiming to create a phone for all the 5 billion people on Earth that have’t got a smartphone yet. 
Currently they are building a prototype and will run a proof of concept at convincing scale next year....</p>
<p><a href="http://projectara.com" target="_blank">http://projectara.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div id="sennheiser-more" class="container" style="padding-bottom: 15px;display:none">
      <div class="row">
        <div class="col-md-12">
          <div class="well" style="background-color: #d9d9db">
            <h4>Sennheiser: The Pursuit of Perfect sound</h4>
<p>For more than 65 years our name has stood for top-quality products, true sound and tailor-made solutions for every aspect of recording, transmission and reproduction of sound. We want people to not only hear all aspects of sound, but also to feel it, too. With German engineering, decades of experience in professional business, and innovative science, we stay true to the sound and set new standards for headphones, headsets, microphones, and integrated systems
We are shaping today the audio world of tomorrow - that is the ambition that we and our company live by from day to day. This vision statement vision describes what we are hoping to achieve together. The foundation for this is our history, our culture of innovation and our passion for excellence.</p>
<p>Sennheiser will be supporting Phonebloks by contributing its own audio expertise. Sennheiser’s audio technology know-how will be called upon where matters of speech and audio transmission are concerned. Drawing on our decades of expertise with premium segment audio products, we believe we can provide an ideal partnership for exciting concepts like Phonebloks.</p>
<p><a href="http://sennheiser.com" target="_blank">http://sennheiser.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div id="fairphone-more" class="container" style="padding-bottom: 15px;display:none">
      <div class="row">
        <div class="col-md-12">
          <div class="well" style="background-color: #d9d9db">
            <h4>Fairphone</h4>
<p>Fairphone uncovers complex systems to change how things are made. By creating a smartphone, we’re building new relationships between people and their products and starting conversations about what is truly fair. It’s not just a phone, it’s a movement.</p>
<h5 style="margin-top: 30px">Fairphone and Phonebloks</h5>
<p>Fairphone and Phonebloks are approaching the consumer electronics market from different angles, but we share similar goals: To change the way consumers think about their products and to design phones in a way that extends their useful lifecycle. We’re drawn to like-minded individuals and organizations that challenge the status quo, engage directly with consumers and take action to turn their ideas into reality. By sharing knowledge and experience with initiatives like Phonebloks, we can contribute to a different way of doing business that focuses on social values.</p>
<p><a href="http://www.fairphone.com" target="_blank">http://www.fairphone.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container block" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <h2>Friends</h2>
          <p>These companies are our facilitating partners, they contribute in resources and make sure to keep us going!</p>
        </div>
      </div>
      <div class="row text-center" style="font-style: italic">
        <div class="col-md-2">
          <p><a href="https://cyso.com"><img src="/imgs/logo/cyso.png" alt="Cyso" style="width: 115px;height:60px"></a><br>Hosting</p>
        </div>
        <div class="col-md-2">
          <p><a href="http://www.cmnty.nl"><img src="/imgs/logo/cmnty.png" alt="CMNTY" style="width: 115px;height:60px"></a></br>
          Community Platform</p>
        </div>
        <div class="col-md-2">
          <p><a href="http://www.solonlegal.nl"><img src="/imgs/logo/solon.png" alt="Solon" style="width: 115px;height:60px"></a><br>Legal</p>
        </div>  
        <div class="col-md-2">
          <p><a href="http://www.dewaardkramer.nl"><img src="/imgs/logo/dewaardkramer.png" alt="deWaardKramer" style="width: 115px;height:60px"></a><br>Accounting</p>
        </div>
        <div class="col-md-2">
          <p><a href="http://www.ideiaseimagens.com"><img src="/imgs/logo/ideiaseimagens.png" alt="Ideiase Imagens" style="width: 115px;height:60px"></a><br>Translations</p>
        </div>
        <div class="col-md-2">
          <p><a href="http://www.wdo.se"><img src="/imgs/logo/wdo.png" alt="WDO" style="width: 115px;height:60px"></a><br>Communications</p>
        </div>
      </div>
    </div>

    <div class="container block" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><img src="/imgs/become-partner.png" style="width: 50%;margin-top:30px"></p>
          <h2>Becoming a Partner</h2>
          <p>It is great to see that you are interested in becoming a Phonebloks partner. We have set up this program to connect with the industry and connect the partnering companies with each other. The more partners that are onboard, the bigger the chance of success.<br />
          There are 3 ways for your company to partner with Phonebloks:</p>
        </div>
      </div>
    </div>
    <div class="container" style="padding-bottom: 15px">
      <div class="row">
        <div class="col-md-4">
          <div class="well" style="background-color: #d2ddcc">
            <h2 style="color: #000">Friend</h2>
            <p>As a Friend you will be connected with us and get your logo on our website.<br>Price: Contribute to the project; help, support, manpower, donation.<br><br>&nbsp;</p>
            <p class="text-center"><a href='mailto:hello@phonebloks.com' class="btn btn-inverted" role="button">Contact us</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color: #bdd3c6">
            <h2 style="color: #000">Sponsor</h2>
            <p>As a Sponsor we will actively share your ideas with our community and you will get to contribute to our project in multiple ways.<br><br><br>&nbsp;</p>
            <p class="text-center"><a href='mailto:hello@phonebloks.com' class="btn btn-inverted" role="button">Contact us</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color: #b0d0d4">
            <h2 style="color: #000">Associate</h2>
            <p>As a Associate you will be closely connected to us and at the forefront of our project. We will actively share and you with, and endorse you on, our community. And you will get to contribute to our project in significant ways.<br>&nbsp;</p>
            <p class="text-center"><a href='mailto:hello@phonebloks.com' class="btn btn-inverted" role="button">Contact us</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <img src="/imgs/v4-handshake.png" alt="handshake" style="width: 275px;height: 195px" />
        </div>
        <div class="col-md-8">
          <h2>Contribution</h2>
          <p>We are really keen on pushing this project forward. Up until now we have relied on donations and volunteer work to keep us going. For this project to succeed we need a bigger, full time employed team, we need funding for our servers and we need you and your company. We truly appreciate that you are thinking about contributing to the success of this project. Thank you!</p>
        </div>
      </div>
    </div>
