    <div class="container block" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><img class="become-partner" src="/imgs/become-partner.png"></p>
          <h2>{{ t["PARTNER_CONNECT_TITLE"] }}</h2>
          <p>{{ t["PARTNER_CONNECT_CONTENT"] }}<p>
          <p style="font-style: italic">{{ t["PARTNER_CONNECT_CONTENT_2"] }}</p>
          </p>
        </div>
      </div>
      <script>
        var friends1title = '<img src="{{ t["FRIENDS_1_LOGO"] }}" style="width: 115px;height:60px">';
        var friends2title = '<img src="{{ t["FRIENDS_2_LOGO"] }}" style="width: 115px;height:60px">';
        var friends3title = '<img src="{{ t["FRIENDS_3_LOGO"] }}" style="width: 115px;height:60px">';
        var friends4title = '<img src="{{ t["FRIENDS_4_LOGO"] }}" style="width: 115px;height:60px">';
        var friends5title = '<img src="{{ t["FRIENDS_5_LOGO"] }}" style="width: 115px;height:60px">';
        var friends6title = '<img src="{{ t["FRIENDS_6_LOGO"] }}" style="width: 115px;height:60px">';
        var friends7title = '<img src="{{ t["FRIENDS_7_LOGO"] }}" style="width: 115px;height:60px">';
        var friends8title = '<img src="{{ t["FRIENDS_8_LOGO"] }}" style="width: 115px;height:60px">';
        var friends9title = '<img src="{{ t["FRIENDS_9_LOGO"] }}" style="width: 115px;height:60px">';
        var friends10title = '<img src="{{ t["FRIENDS_10_LOGO"] }}" style="width: 115px;height:60px">';
        var friends11title = '<img src="{{ t["FRIENDS_11_LOGO"] }}" style="width: 115px;height:60px">';
        var friends12title = '<img src="{{ t["FRIENDS_12_LOGO"] }}" style="width: 115px;height:60px">';
        var friends1dialog = '{{ t['FRIENDS_1_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_1_URL'] }}" target="_blank">{{ t['FRIENDS_1_URL'] }}</a>';
        var friends2dialog = '{{ t['FRIENDS_2_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_2_URL'] }}" target="_blank">{{ t['FRIENDS_2_URL'] }}</a>';
        var friends3dialog = '{{ t['FRIENDS_3_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_3_URL'] }}" target="_blank">{{ t['FRIENDS_3_URL'] }}</a>';
        var friends4dialog = '{{ t['FRIENDS_4_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_4_URL'] }}" target="_blank">{{ t['FRIENDS_4_URL'] }}</a>';
        var friends5dialog = '{{ t['FRIENDS_5_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_5_URL'] }}" target="_blank">{{ t['FRIENDS_5_URL'] }}</a>';
        var friends6dialog = '{{ t['FRIENDS_6_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_6_URL'] }}" target="_blank">{{ t['FRIENDS_6_URL'] }}</a>';
        var friends7dialog = '{{ t['FRIENDS_7_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_7_URL'] }}" target="_blank">{{ t['FRIENDS_7_URL'] }}</a>';
        var friends8dialog = '{{ t['FRIENDS_8_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_8_URL'] }}" target="_blank">{{ t['FRIENDS_8_URL'] }}</a>';
        var friends9dialog = '{{ t['FRIENDS_9_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_9_URL'] }}" target="_blank">{{ t['FRIENDS_9_URL'] }}</a>';
        var friends10dialog = '{{ t['FRIENDS_10_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_10_URL'] }}" target="_blank">{{ t['FRIENDS_10_URL'] }}</a>';
        var friends11dialog = '{{ t['FRIENDS_11_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_11_URL'] }}" target="_blank">{{ t['FRIENDS_11_URL'] }}</a>';
        var friends12dialog = '{{ t['FRIENDS_12_DESCRIPTION'] }}<br><a href="{{ t['FRIENDS_12_URL'] }}" target="_blank">{{ t['FRIENDS_12_URL'] }}</a>';
      </script>
      <div id="friends" class="row text-center">
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_1_URL"] }}'  onclick="showDialog(friends1title,  friends1dialog,  'Close', '#');"><img src='{{ t["FRIENDS_1_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_2_URL"] }}'  onclick="showDialog(friends2title,  friends2dialog,  'Close', '#');"><img src='{{ t["FRIENDS_2_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_3_URL"] }}'  onclick="showDialog(friends3title,  friends3dialog,  'Close', '#');"><img src='{{ t["FRIENDS_3_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_4_URL"] }}'  onclick="showDialog(friends4title,  friends4dialog,  'Close', '#');"><img src='{{ t["FRIENDS_4_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_5_URL"] }}'  onclick="showDialog(friends5title,  friends5dialog,  'Close', '#');"><img src='{{ t["FRIENDS_5_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_6_URL"] }}'  onclick="showDialog(friends6title,  friends6dialog,  'Close', '#');"><img src='{{ t["FRIENDS_6_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_7_URL"] }}'  onclick="showDialog(friends7title,  friends7dialog,  'Close', '#');"><img src='{{ t["FRIENDS_7_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_8_URL"] }}'  onclick="showDialog(friends8title,  friends8dialog,  'Close', '#');"><img src='{{ t["FRIENDS_8_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_9_URL"] }}'  onclick="showDialog(friends9title,  friends9dialog,  'Close', '#');"><img src='{{ t["FRIENDS_9_LOGO"] }}'  style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_10_URL"] }}' onclick="showDialog(friends10title, friends10dialog, 'Close', '#');"><img src='{{ t["FRIENDS_10_LOGO"] }}' style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_11_URL"] }}' onclick="showDialog(friends11title, friends11dialog, 'Close', '#');"><img src='{{ t["FRIENDS_11_LOGO"] }}' style="width: 115px;height:60px"></a></p></div>
        <div class="col-md-3"><p><a href='{{ t["FRIENDS_12_URL"] }}' onclick="showDialog(friends12title, friends12dialog, 'Close', '#');"><img src='{{ t["FRIENDS_12_LOGO"] }}' style="width: 115px;height:60px"></a></p></div>
      </div>
    </div>
    
    <div class="container block" style="padding-bottom: 30px">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ t["PARTNER_PROGRAM_TITLE"] }}</h2>
          <p>{{ t["PARTNER_PROGRAM_CONTENT"] }}<br />
          {{ t["PARTNER_PROGRAM_CONTENT_2"] }}
          </p>
        </div>
      </div>
    </div>

    <div class="container" style="padding-bottom: 15px">
      <div class="row">
        <div class="col-md-4">
          <div class="well" style="background-color: #d2ddcc">
            <h2 style="color: #000">{{ t["PARTNER_PROGRAM_FRIEND_TITLE"] }}</h2>
            <p>{{ t["PARTNER_PROGRAM_FRIEND_CONTENT"] }}</p>
            <p class="text-center"><a href='mailto:{{ t["PARTNER_PROGRAM_EMAIL"] }}' class="btn btn-inverted" role="button">{{ t["PARTNER_PROGRAM_CONTACT_US"] }}</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color: #bdd3c6">
            <h2 style="color: #000">{{ t["PARTNER_PROGRAM_SPONSOR_TITLE"] }}</h2>
            <p>{{ t["PARTNER_PROGRAM_SPONSOR_CONTENT"] }}</p>
            <p class="text-center"><a href='mailto:{{ t["PARTNER_PROGRAM_EMAIL"] }}' class="btn btn-inverted" role="button">{{ t["PARTNER_PROGRAM_CONTACT_US"] }}</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well" style="background-color: #b0d0d4">
            <h2 style="color: #000">{{ t["PARTNER_PROGRAM_ASSOCIATE_TITLE"] }}</h2>
            <p>{{ t["PARTNER_PROGRAM_ASSOCIATE_CONTENT"] }}</p>
            <p class="text-center"><a href='mailto:{{ t["PARTNER_PROGRAM_EMAIL"] }}' class="btn btn-inverted" role="button">{{ t["PARTNER_PROGRAM_CONTACT_US"] }}</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container block">
      <div class="row">
        <div class="col-md-4">
          <img src="/imgs/v4-handshake.png" alt="handshake" style="width: 275px;height: 195px" />
        </div>
        <div class="col-md-8">
          <h2>{{ t["PARTNER_CONTRIBUTION_TITLE"] }}</h2>
          <p>{{ t["PARTNER_CONTRIBUTION_CONTENT"] }}</p>
        </div>
      </div>
    </div>
