    <div class="container submenu">
      <div class="row">

        <div class="col-md-4 submenu-left">
          <div class="col-md-6">
            <ul>
              <li><a href='http://blog.phonebloks.com'>{{ t["FOOTER_BLOG"] }}</a></li>
              <li><a href='{{ "/" .. language .. "/contact#events" }}'>{{ t["FOOTER_EVENTS"] }}</a></li>
              <li><a href='{{ "/" .. language .. "/faq" }}'>{{ t["FOOTER_FAQ"] }}</a></li>
            <ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href='{{ "/" .. language .. "/contact#jobs" }}'>{{ t["FOOTER_JOBS"] }}</a></li>
              <li><a href='{{ "/" .. language .. "/contact#press" }}'>{{ t["FOOTER_PRESS"] }}</a></li>
              <li><a href='{{ "/" .. language .. "/contact" }}'>{{ t["FOOTER_CONTACT"] }}</a></li>
            <ul>
          </div>
        </div>

        <div class="col-md-4 submenu-middle">
          <form class="form-horizontal"  id="newsletterform" role="form" name="mailing" action="/api/mailing/signup" method="post">
            <p class="result">{{ t["FOOTER_NEWS_LETTER_TITLE"] }}</p>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">{{ t["FOOTER_NEWS_LETTER_EMAIL_LABEL"] }}</label>
              <div class="col-sm-6">
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder='{{ t["FOOTER_NEWS_LETTER_EMAIL_PLACEHOLDER"] }}'>
              </div>
              <div class="col-sm-2 col-submit">
                <button type="submit" class="btn btn-inverted">{{ t["FOOTER_NEWS_LETTER_SUBMIT"] }}</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4 submenu-right">
          <div class="col-md-6">
            <ul>
              <li><a href='{{ t["SOCIAL_MEDIA_FACEBOOK_URL"] }}'><i class="fa fa-facebook"></i>{{ t["SOCIAL_MEDIA_FACEBOOK"] }}</a></li>
              <li><a href='{{ t["SOCIAL_MEDIA_TWITTER_URL"] }}'><i class="fa fa-twitter"></i>{{ t["SOCIAL_MEDIA_TWITTER"] }}</a></li>
              <li><a href='{{ t["SOCIAL_MEDIA_GOOGLE_URL"] }}'><i class="fa fa-google-plus"></i>{{ t["SOCIAL_MEDIA_GOOGLE"] }}</a></li>
            <ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href='{{ t["SOCIAL_MEDIA_YOUTUBE_URL"] }}'><i class="fa fa-youtube"></i>{{ t["SOCIAL_MEDIA_YOUTUBE"] }}</a></li>
              <li><a href='{{ t["SOCIAL_MEDIA_INSTAGRAM_URL"] }}'><i class="fa fa-instagram"></i>{{ t["SOCIAL_MEDIA_INSTAGRAM"] }}</a></li>
              <li><a href='{{ t["SOCIAL_MEDIA_LINKEDIN_URL"] }}'><i class="fa fa-linkedin"></i>{{ t["SOCIAL_MEDIA_LINKEDIN"] }}</a></li>
            <ul>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <footer>
        {( "common/language.html" )}
        <div style="float:left">
          <p>&copy; Phonebloks 2015</p>
        </div>
      </footer>
    </div> <!-- /container -->
