        <div style="float:right">
          <div class="btn-group dropup">
            <a type="button" class="btn btn-default btn-xs dropdown-toggle btn-language" data-toggle="dropdown">
              English <span class="caret" style="margin-bottom: 4px;margin-left:4px"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "cn") }}' href='/cn/{{ page }}'>中国</a></li> -->
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "de") }}' href='/de/{{ page }}'>Deutsch</a></li> -->
              <li><a class='language language-{{ menuLanguageActive(language, "en") }}' href='/en/{{ page }}'>English</a></li>
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "fr") }}' href='/fr/{{ page }}'>Français</a></li> -->
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "it") }}' href='/it/{{ page }}'>Italiano</a></li> -->
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "nl") }}' href='/nl/{{ page }}'>Nederlands</a></li> -->
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "ru") }}' href='/ru/{{ page }}'>Pусский</a></li> -->
              <!-- <li><a class='language language-{{ menuLanguageActive(language, "se") }}' href='/se/{{ page }}'>Svenska</a></li> -->
            </ul>
          </div>
        </div>