<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{{ t["PAGE_TITLE"] }}</title>
    <meta charset='utf-8'>
    <meta content='index, follow' name='robots'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- for Google -->
    <meta content='Support Phonebloks! A phone worth keeping by Dave Hakkens' name='description'>
    <meta content='phonebloks phoneblocks phone bloks bloks block blok' name='keywords'>
    <meta content='Dave Hakkens' name='author'>
    <meta content='Phonebloks.com' name='application-name'>
    <link href='https://plus.google.com/101501762693100731543' rel='author'>

    <!-- for Facebook -->
    <meta content='Phonebloks' property='og:title'>
    <meta content='website' property='og:type'>
    <meta content='https://phonebloks.com/imgs/icon/og-image.jpg' property='og:image'>
    <meta content='https://phonebloks.com' property='og:url'>
    <meta content='Support Phonebloks! A phone worth keeping by Dave Hakkens' property='og:description'>
    
    <!-- for Twitter -->
    <meta content='summary' name='twitter:card'>
    <meta content='Phonebloks' name='twitter:title'>
    <meta content='Support phonebloks! A phone worth keeping by Dave Hakkens' name='twitter:description'>
    <meta content='https://phonebloks.com/imgs/icon/og-image.jpg' name='twitter:image'>
    
    <!-- shortcut icons -->
    <link rel="shortcut icon"    sizes="16x16"    href="/imgs/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon"             sizes="16x16"    href="/imgs/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon"                  href="/imgs/icon/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76"    href="/imgs/icon/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120"  href="/imgs/icon/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152"  href="/imgs/icon/touch-icon-ipad-retina.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >

    <!-- Custom styles for Phonebloks -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    
  </head>
  <body class="body-fixed-top">
{( "common/navbar.html" )}
{( page .. ".html" )}
{( "common/footer.html" )}
    </div>
{( "common/scripts.html" )}
  </body>
</html>
