<!DOCTYPE html>
<html lang='{{ url_language }}'>
  <head>
    <title>{{ t["PAGE_TITLE"] }}</title>
    <meta charset='utf-8'>
    <meta content='index, follow' name='robots'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- for Google -->
    <meta content='Support Phonebloks! A phone worth keeping by Dave Hakkens' name='description'>
    <meta content='phonebloks phoneblocks phone bloks bloks block blok' name='keywords'>
    <meta content='Dave Hakkens' name='author'>
    <meta content='Phonebloks.com' name='application-name'>
    <link href='https://plus.google.com/101501762693100731543' rel='author'>

    <!-- for Facebook -->
    <meta content='Phonebloks' property='og:title'>
    <meta content='website' property='og:type'>
    <meta content='https://phonebloks.com/imgs/icon/og-image.jpg' property='og:image'>
    <meta content='https://phonebloks.com' property='og:url'>
    <meta content='Support Phonebloks! A phone worth keeping by Dave Hakkens' property='og:description'>
    
    <!-- for Twitter -->
    <meta content='summary' name='twitter:card'>
    <meta content='Phonebloks' name='twitter:title'>
    <meta content='Support phonebloks! A phone worth keeping by Dave Hakkens' name='twitter:description'>
    <meta content='https://phonebloks.com/imgs/icon/og-image.jpg' name='twitter:image'>
    
    <!-- shortcut icons -->
    <link rel="shortcut icon"                         href="/imgs/icon/favicon.ico">
    <link rel="apple-touch-icon"      sizes="57x57"   href="/imgs/icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon"      sizes="114x114" href="/imgs/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon"      sizes="72x72"   href="/imgs/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon"      sizes="144x144" href="/imgs/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon"      sizes="60x60"   href="/imgs/icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon"      sizes="120x120" href="/imgs/icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon"      sizes="76x76"   href="/imgs/icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon"      sizes="152x152" href="/imgs/icon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon"      sizes="180x180" href="/imgs/icon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/imgs/icon/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/imgs/icon/favicon-160x160.png">
    <link rel="icon" type="image/png" sizes="96x96"   href="/imgs/icon/favicon-96x96.png" >
    <link rel="icon" type="image/png" sizes="16x16"   href="/imgs/icon/favicon-16x16.png" >
    <link rel="icon" type="image/png" sizes="32x32"   href="/imgs/icon/favicon-32x32.png" >
    <meta name="apple-mobile-web-app-title" content="Phonebloks">
    <meta name="msapplication-TileColor"    content="#ffffff">
    <meta name="msapplication-TileImage"    content="/imgs/icon/mstile-144x144.png">
    <meta name="msapplication-config"       content="/imgs/icon/browserconfig.xml">
    <meta name="application-name"           content="Phonebloks">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" >

    <!-- Custom styles for Phonebloks -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    
  </head>
  <body class="body-fixed-top">
{( "common/dialog.html" )}
{( "common/navbar.html" )}
{( page .. ".html" )}
{( "common/footer.html" )}
    </div>
{( "common/scripts.html" )}
  </body>
</html>
